_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
.jekyll-cache
dist/
.astro/jekyll-backup/
.astro/

# Environment variables
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

