---
---
<div class="terminal">
  <div id="terminal-line-1"></div>
  <div id="terminal-line-2">
    <div id="user">you@junprog</div><div id="command">:</div><div id="path"></div><div id="exec">$ </div>
    <input type="text" id="exec-cmd" class="exec" placeholder="困ったときは 'help' を入力してください" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
  </div>
</div>

<script>
  import '../scripts/junprog-terminal.js';
</script>
